
* {box-sizing: border-box}
/* Set height of body and the document to 100% */
body, html {
  height:100%;
  margin: 0;
  font-family: Arial;
  background-image: url("../images/full.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  padding: 20px;
  text-align: center;
  color: rgb(41, 100, 230);
  font-size: 30px;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: black;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Home {background-color: rgba(245, 245, 220, 0.500);}
#Projects {background-color: rgba(18, 74, 196, 0.500);}
#Influencers {background-color: rgba(103, 219, 99, 0.5);}
#Temporary {background-color: rgba(216, 214, 90, 0.5);}