
* {box-sizing: border-box}
/* Set height of body and the document to 100% */
body, html {
  height:100%;
  margin: 0;
  font-family: Arial;
}

.header {
  padding: 40px;
  /* text-align: center;
  color: rgb(41, 100, 230);
  font-size: 30px; */
  background-image: url("../images/bckgrnd.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color:rgba(253, 236, 166);
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: black;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Home {background-color: rgba(245, 245, 220, 0.500);}
#Projects {background-color: rgba(120, 155, 233, 0.466);}
#Influencers {background-color: rgba(121, 209, 118, 0.336);}
#Temporary {background-color: rgba(204, 109, 212, 0.37);}